.charge-name {
	
}

.charge-name>input {
	border:none;
	outline: none;
	font-size: .3rem;
	height: 1rem;

}
.charge-head {
	display: flex;
	align-items: center;
	height: 1rem;
}

.charge-head .charge-ad{
	background:#fb345a;
	padding:.1rem;
	color:#fff;
	font-size: .2rem;
	border:.1rem;
	margin-left: .3rem;
	border-radius: .2rem 0 .2rem 0;
}

.charge-items li {
	float: left;
	display: block;
	width: 2rem;
	height: 1.2rem;
	text-align: center;
	
	border:1px solid #dddddd;
	margin-left: .3rem;
	margin-bottom: .4rem;
	border-radius: .1rem;
}


.charge-items .selected {
	border:1px solid #40b2fb;
}

.charge-items li h1 {
	font-size: .32rem;
	margin:.2rem 0;
}

.charge-items li h2 {
	font-size: .2rem;
	color:#fb345a;
}

.more {
	line-height: 1.2rem;
}

body {
	padding:.3rem;
}

.counter-wraper {
	display: flex;
	align-items: center;
}

.counter {
	margin-left: .2rem;
}

.counter input {
	width: 2rem;
	height: .6rem;
	line-height: .6rem;
	text-align: center;
	border: 1px solid #dddddd;
	outline: none;
	margin:0 .1rem;
}

.counter em {
	display: inline-block;
	width: 1rem;
	height: .6rem;
	line-height: .6rem;
	text-align: center;
	background:#40b2fb;
	color:#fff;
}

.pay-code h1 {
	text-align: center;
	line-height: .6rem;
	font-size: .3rem;

}

.pay-code img {
	display: block;
	margin:.3rem auto;
	height: 4rem;
	width: 4rem;
}

.input-items{
	margin-bottom: .3rem;
}
.input-item {
	border-bottom: 1px solid #ddd;

}

.input-item input{
	width: 4rem;
	height: .6rem;
	line-height: .6rem;
	border:none;
	outline: none;
	margin:.1rem;
	padding-left: .2rem;
}

.input-item span{
	display: inline-block;
	width: 1.5rem;
	font-size: .3rem;
}

.more h3 {
	font-size: .4rem;
}

.charge-items {
	margin-left: -0.3rem;
}

.btn {
	width: 100%;
	height: 1rem;
	background: #40b2fb;
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	color: #fff;
	font-size: .32rem;
	line-height: 1rem;
	border:none;
	font-family: 'Microsoft YaHei', 黑体, 宋体, sans-serif;
	border-radius: none !important;
}